#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    width: 1500px;
}

#graphics {
    width: 1460px;
    padding: 20px;
    border: 10px solid navy;
    margin: 0px;
}

#map {
    width: 1400px;
    padding: 20px;
    border: 10px solid green;
    margin: 0px;
}

#timescatter {
    width: 1400px;
    padding: 20px;
    border: 10px solid red;
    margin: 0px;
}

#country_legend {
    width: 1400px;
    padding: 20px;
    border: 10px solid yellow;
    margin: 0px;
}

#button_container {
    width: 1400px;
    padding: 20px;
    border: 10px solid magenta;
    margin: 0px;
}

#bc_countries {
    float: left;
    width: 50%;
    border: 0px;
    margin: 0px;

}

#b_deselect {
    text-align: left;
    width: 50%;
    border: 0px;
    margin: 0px;
}

#b_select {
    text-align: right;
    width: 50%;
    border: 0px;
    margin: 0px;
}

#bc_selection {
    float: none;
    width: 25%;
    border: 0px;
    margin: 0px;
}

#bc_all {
    float: right;
    width: 50%;
    border: 0px;
    margin: 0px;;
}