.axis {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    stroke-width: 1.5;
    font-size: 16px;
}


.map_path {
    opacity: 0.4;
    stroke: black;
    stroke-width: 1;
}

.dot {
    stroke: #000;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 190px;
    padding: 2px;
    font-size: 12px;
    background: #34495e;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    color: white;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

circle.greyed {
    fill: lightgrey;
    stroke: lightgrey;
}

#country_legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}
